################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Platform.TechLog.Module/v15
/obj
/bin/Debug/netcoreapp2.2
*.user
