<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="nlog-internal.log">

  <variable name='baseFolder' value='' />

  <targets>
	  <target name="logTraceFile-ApiLog" xsi:type="file" encoding="utf-8"
	          fileName="${var:baseFolder}/ApiTechLog/${date:format=yyyy.MM.dd}-ApiTechLog.log"
	          layout="${longdate}|${level:uppercase=true}|${message} ${exception:format=tostring,data:exceptionDataSeparator=\r\n}">
		  <layout xsi:type="JsonWithProperties">
			  <property name="MachineName" layout="${machinename}" />
			  <property name="ComponentVersion" layout="1.0.0.0" />
		  </layout>
	  </target>
	  <target name="logTraceFile-LogInfoOther" xsi:type="File" encoding="utf-8"
	          fileName="${var:baseFolder}/platform-${date:format=yyyy.MM.dd}.log"
	          layout="${longdate}|${level:uppercase=true}|${message} ${exception:format=tostring,data:exceptionDataSeparator=\r\n}">
	  </target>
  </targets>

  <rules>
	  <logger name="*"
	          enabled="true"
	          minlevel="Info"
	          writeTo="logTraceFile-LogInfoOther"
	          final="false" />
	  <logger name="MonicaPlatform.TechLog.Module.Middleware.TechLog.TechLogMiddleware"
	          enabled="true"
	          minlevel="Info"
	          writeTo="logTraceFile-ApiLog"
	          final="false" />
  </rules>
</nlog>
