<?xml version="1.0" encoding="utf-8" ?>
<configuration  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xdt:Transform="Replace">
  <Options>
    <Authority>http://localhost:5000/identityserver4</Authority>
    <!--Требуются метаданные по HTTPS (0 или 1), соответственно ложь и истина-->
    <RequireHttpsMetadata>0</RequireHttpsMetadata>
    <!--Наименование используемого API-->
    <ApiName>api1</ApiName>
    <!--Используемые Claim (их будут видеть модули API)-->
    <Claims>
      <!--Данный Claim будет отображаться на имя (Name)-->
      <NameClaimType>given_name</NameClaimType>
      <!--Данный Claim будет отображаться на роль (Role)-->
      <RoleClaimType>role</RoleClaimType>
    </Claims>
  </Options>
</configuration>