<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <SwaggerConfig>
    <SwaggerBasePath>/swagger/v1/swagger.json</SwaggerBasePath>
    <SwaggerEndpoints>
      <SwaggerEndpoint>
        <SwaggerEndpointUrl>/swagger/v1/swagger.json</SwaggerEndpointUrl>
        <SwaggerEndpointName></SwaggerEndpointName>
      </SwaggerEndpoint>
    </SwaggerEndpoints>
  </SwaggerConfig>
</configuration>